@charset "UTF-8";

@media screen and (min-width: 600px){
    main {
        width: 500px;
    }
    
    #menu-bar {
        display: none;
    }

    menu {
        display: block;
        border-radius: 5px;
        width: 95vw;
    }

    menu ul {
        display: flex;

    }

    menu li {
        background-color: transparent;
    }
    
    
}

@media  screen and (min-width:750px) {
    main {
        width: 600px;
    }

    
}

