@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    margin-top: 3px;
    width: 100vw;
    height: 100vh;
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-indent: 1em;
    text-align: justify;
}

article {
    margin: auto;
    width: 370px;
    border: 1px solid rgb(196, 192, 192);
    border-radius: 0px 10px 10px 10px;
    padding: 1em;
    box-shadow: 1px 1px 4px rgba(92, 91, 91, 0.466);
}

menu {
    margin-bottom: 1em;
}


h1, h2, h3, h4 {
    margin-bottom: 0.5em;
}

i {
    color: chocolate;
    font-weight: bold;
}

p {
    margin-bottom: 6px; 
}


ul {
    height: 20px;
    list-style-type: none;
    background-color: rgb(34, 31, 31);
    padding: 5px;
    border-radius: 3px;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
}

a:hover {
    text-decoration: underline;
    color: chocolate;
}

#link {
    padding-top: 1em;
    width: 370px;
    margin: auto;
}

#link > a {
    color:chocolate;
    background-color: rgba(255, 228, 196, 0.699);
    padding: 3px;
    border-radius: 5px;
}

#link > a:hover {
    color: blue;
    background-color: bisque;
}
